# Duplicate this file with the name ".env" and change the variables to fit your config

# The IP of the minecraft server you want to ping
MC_SERVER_IP=91.134.172.75
# How many minutes before pinging the server again
MC_PING_FREQUENCY=1
